body {
    background-image:url('bg.webp');
    background-size:contain;
}


#card {
    transform-origin: center;
    animation: tilt ease-in-out 2.0s infinite;
}

@keyframes tilt {
    0%   { transform: rotate(-3deg);}
    50% { transform: rotate(3deg);}
    100% { transform: rotate(-3deg);}
}

#B{
    transition: 1s all;
    animation: fade 1.0s ease-in-out;
}

#A{
    animation: fade 1.5s ease-in-out;
}

#L{
    animation: fade 2.0s ease-in-out;
}

#T{
    animation: fadeup 2.0s ease-in-out;
}

#R{
    animation: fadeup 2.5s ease-in-out;
}

#O{
    animation: fadeup 3.0s ease-in-out;
}

@keyframes fade {
    0%   { transform: translate(0, -200px);opacity: 0;}
    100% { transform: translate(0, 0);opacity: 100;}
}

@keyframes fadeup {
  0%   { transform: translate(0, 200px);opacity: 0;}
  100% { transform: translate(0, 0);opacity: 100;}
}

#B:hover,#A:hover,#L:hover,#T:hover,#R:hover,#O:hover{
    filter:invert(1);
    transition: 1s all;
}