/* Default Layout (Mobile) */

body{
	font-family: sans-serif;
}

.info{
	display:grid;
	grid-template-columns: 11.3rem 1fr;
	max-height:11rem;
	/* background-color: rgb(241, 241, 241); */
	padding-top:1.5rem;
	padding-left:1.5rem;
	padding-right:1.5rem;
}

#avatar{
	margin-top:.75rem;
	width:9rem;
	border-radius: 50%;
	border: solid .15rem rgb(164, 36, 36);
}

#user{
	color:rgb(164, 36, 36);
	font-weight: bold;
	font-size:1.25rem;
}

#pro{
	color:gray;
	line-height:3rem;
}

#bio{
	line-height:1rem;
}

.grid{
	display:block;
	margin:auto;
	margin-top:0.5rem;
	line-height: 0;
	width:27rem;
}

.grid img{
	width:9rem;
	height:9rem;
	object-fit: cover;
}

#footer{
	display:block;
	margin:auto;
	margin-top:2rem;
	width:6rem;
}


/*  Media Queries (responsive to screen width) */

/* tablet */

@media all and (min-width: 35rem){
	/* #user{ color: blue; } */
	#avatar{width:11rem;}
	.info{grid-template-columns: 14rem 1fr;padding-bottom:1.5rem;}
	.info p{margin-top:2rem;}
	.grid{width:36rem;}
	.grid img{width:12rem;height:12rem;}
}      

/* desktop */

@media all and (min-width: 50rem){
	/* #user { color: green; } */
	body { max-width: 960px; margin: auto; }
	#avatar{width:12rem;}
	.info{grid-template-columns: 16rem 25rem;padding-bottom:2.5rem;padding-left:8rem;}
	.info p{margin-top:3rem;}
	.grid{width:48rem;}
	.grid img{width:16rem;height:16rem;}
	#footer{margin-bottom:3rem;}

}      
